* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    color: #fff;
}

body {
    background: url(/images/transparent-watercolor-flowers.png), url(/images/butterfly-animation.gif), url(/images/watercolor-flower.png), linear-gradient(to right, rgb(182, 244, 146), rgb(51, 139, 147));
    background-size: 450px, 270px, 200px, 100%;
    background-repeat: no-repeat;
    background-position-y: 390px, 40px, 80px, 100%;
    background-position-x: 0, 990px, 1020px, 0;
}