* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    color: #fff;
}

body {
    background-image: url(https://cdn.britannica.com/18/194818-050-E7A7A993/view-Kiev-Ukraine.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}