.Weather .search-field {
    width: 30%;
    height: 40px;
    border: 2px solid #fff;
    padding-left: 20px;
    font-size: 22px;
    background-color: rgb(158, 86, 154, 0.4);
}

.Weather .search-field::placeholder {
    color: #fff;
}

.Weather .search-field:focus {
    outline: none;
}

.Weather .search-field:focus-visible {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.Weather .search-btn {
    border: 2px solid #fff;
    background-color: rgb(158, 86, 154, 0.4);
    padding: 4px 12px;
    font-size: 22px;
}

.Weather .search-btn:hover {
    background: transparent;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.Weather .current-location h1 {
    font-size: 46px;
}

.Weather .current-location li {
    font-size: 22px;
    list-style-type: none;
}

.Weather .current-temperature .icon-container {
    flex-grow: 1.25;
}

.Weather .current-temperature .content-container {
    flex-grow: 1;
}

.Weather .content-container .value {
    font-size: 80px;
}

.Weather .content-container .units {
    font-size: 42px;
    vertical-align: 50%;
    margin-left: 10px;
}

.Weather .content-container .summary {
    margin-left: -10px;
    font-weight: 500;
    font-size: 26px;
}

.Weather .current-stats {
    border-left: 1px solid #fff;
    margin-top: 12px;
}

.Weather .current-stats .value {
    font-weight: 500;
    font-size: 28px;
}

.Weather .current-stats .label {
    margin: 5px;
    font-size: 24px;
}

.loader {
    font-size: 28px;
    padding-top: 30px;
}

@media (max-width: 1366px) {
    .Weather .search-field {
        font-size: 20px;
    }

    .Weather .search-btn {
        font-size: 20px;
    }

    .Weather .current-location h1 {
        font-size: 44px;
    }

    .Weather .current-location li {
        font-size: 20px;
    }

    .Weather .content-container .value {
        font-size: 78px;
    }

    .Weather .content-container .units {
        font-size: 40px;
    }

    .Weather .content-container .summary {
        font-size: 24px;
    }

    .Weather .current-stats .value {
        font-size: 26px;
    }

    .Weather .current-stats .label {
        font-size: 22px;
    }

    .loading {
        font-size: 26px;
    }
}

@media (max-width: 990px) {
    .Weather .weather-row {
        flex-direction: column;
        align-items: center;
    }

    .Weather .current-stats {
        border-left: none;
        border-top: 1px solid #fff;
        padding-top: 14px;
    }
}

@media (max-width: 768px) {
    .Weather .search-field {
        width: 40%;
    }
}

@media (max-width: 575px) {
    .Weather .search-field {
        width: 55%;
    }
}

@media (max-width: 428px) {
    .Weather .current-temperature .icon-container {
        margin-left: -20px;
    }

    .Weather .current-temperature .content-container {
        margin-left: 40px;
    }

    .Weather .current-stats {
        justify-content: space-between !important;
    }
}

@media (max-width: 395px) {
    .Weather .current-temperature .icon-container {
        margin-left: -30px;
    }

    .Weather .current-temperature .content-container {
        margin-left: 30px;
    }
}

@media (max-width: 375px) {
    .Weather .current-temperature .content-container {
        margin-left: 20px;
    }
}

@media (max-width: 320px) {
    .Weather .current-temperature .icon-container {
        margin-left: -44px;
    }

    .Weather .current-temperature .content-container {
        margin-left: 10px;
    }
}