.Weather .search-field {
    width: 30%;
    height: 40px;
    border: 2px solid #fff;
    padding-left: 20px;
    font-size: 20px;
    background-color: rgb(158, 86, 154, 0.4);
}

.Weather .search-field::placeholder {
    color: #fff;
}

.Weather .search-field:focus {
    outline: none;
}

.Weather .search-field:focus-visible {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.Weather .search-btn {
    border: 2px solid #fff;
    background-color: rgb(158, 86, 154, 0.4);
    padding: 4px 12px;
    font-size: 20px;
}

.Weather .search-btn:hover {
    background: transparent;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.Weather .current-location h1 {
    font-size: 44px;
}

.Weather .current-location li {
    font-size: 20px;
    list-style-type: none;
}

.Weather .current-temperature .icon-container {
    flex-grow: 1.25;
}

.Weather .icon-container .icon {
    width: 156px;
    height: 156px;
}

.Weather .current-temperature .content-container {
    flex-grow: 1;
}

.Weather .content-container .value {
    font-size: 78px;
}

.Weather .content-container .units {
    font-size: 40px;
    vertical-align: 50%;
    margin-left: 10px;
}

.Weather .content-container .summary {
    margin-left: -10px;
    font-weight: 500;
    font-size: 24px;
}

.Weather .current-stats {
    border-left: 1px solid #fff;
    margin-top: 12px;
}

.Weather .current-stats .value {
    font-weight: 500;
    font-size: 26px;
}

.Weather .current-stats .label {
    margin: 5px;
    font-size: 22px;
}