.WeatherForecast .next-6-days__title {
    text-align: start;
}

.WeatherForecast .next-6-days__day,
.WeatherForecast .next-6-days__max-temp {
    font-size: 22px;
}

.WeatherForecast .next-6-days__min-temp {
    color: #9e569a;
    font-size: 18px;
}