.current-temperature {
    display: flex;
}

.current-temperature__image {
    width: 156px;
    height: 156px;
}

.current-temperature__icon-container {
    flex-grow: 1.25;
    text-align: center;
}

.current-temperature__content-container {
    flex-grow: 1;
    text-align: center;
}

.current-temperature__value {
    font-weight: 300;
    font-size: 78px;
}

.current-temperature__units {
    font-size: 40px;
    font-weight: 400;
    vertical-align: 50%;
    margin-left: 10px;
}

.current-temperature__summary {
    margin-top: -8pxm;
    margin-left: -10px;
    text-align: center;
    font-weight: 500;
    font-size: 22px;
}

.current-stats {
    display: flex;
    justify-content: space-around;
    border-left: 1px solid #061a2b;
    text-align: center;
    margin-top: 12px;
}

.current-stats__value {
    font-weight: 500;
    font-size: 24px;
}

.current-stats__label {
    margin: 5px;
    color: #061a2b;
    font-size: 20px;
}